.todo-item {
    padding: 10px;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    &-inner {
      margin-right: 10px;
      &:nth-child(2) {
        font-weight: bold;
      }
      &:nth-child(3) {
        font-size: 20px;
      }
    }
  


  
    &-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
    }

    &-done {
      background: #dddddd;
      font-style: italic;
      color: grey;
      text-decoration: line-through;
      .btn {
        color: grey;
      }
    }
  }

  .btn {
    font-size: 30px;
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
    &-edit {
      color: #20167e;
    }
    &-del {
      color: #ad3520;
    }
  }

  .textInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #dfdfdf;
    outline: none;
  }
  .todo-edit div {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .edit-todo-btn{
    font-size: 15px;
    padding: 10px 5px;
    background: green;
    color: white;
    padding: 10px;
  }

  .viewMode {
    display: block;
  }

  .editMode {
    display: none;
  }